/*=============================    
barousel_demo.css
v.0.1
Julien Decaudin - 04/2010
www.juliendecaudin.com
=============================*/

html, body
{
    margin:0;
    padding:0;
}

body
{
    font-size: 100%;
    font-family:Arial, Sans-Serif;
    line-height: 0.94em; /* 15px */   
}

p
{    
    margin:0;
    padding:0 0 10px 0;        

}


/*-------------> BAROUSEL */
.barousel
{
    position:relative;
    margin-bottom:0px;
    background:url(bg_banner.gif) repeat 0 0;
    width:100%;
    height:530px;
    border-top:3px solid #000;
}

.barousel_image
{
    position:absolute;
    
    width:100%;
    height:530px;
}

.barousel_image img
{
    position:absolute;
    display:none;
}

.barousel_image img.default
{    
    display:block;
}

.barousel_image img.current
{
    z-index:10;
}

.barousel_image img.previous
{
    z-index:5;
}

.barousel_content
{
    position:absolute;
    padding:15px 18px 0 18px;    
    z-index:11;
    background:url(bg_barousel_content.png) repeat 0 0;
    color:#fff;
    width:50%;
    bottom:50px;
    left:10px;
}

.barousel_content div
{
    display:none;    
    width: 100%;
}

.barousel_content div.default
{
    display:block;  
    width: 100%;
}

.barousel_content p
{
    font-size:13px;
    font-weight:normal; 
    line-height:17px;   
    width: 100%;
}

.barousel_content p.header
{
    font-size:28px;
    font-weight:normal;
    line-height:28px;
    color:#fff55b;
    width: 10px;
}

.barousel_content a,
.barousel_content a:hover
{
    color:#fff55b;
    background-color:transparent !important;
}

.barousel_nav
{
    position:absolute;
    padding:3px 3px 0px 0;
    height:20px;    
    background:#000;
    bottom:0;
    z-index:12;
    width:100%;
}

.barousel_nav .counter
{    
    float:right;
    font-size:0.75em;
    color:#fff;
    margin:3px 5px 0 0;
}

.barousel_nav ul
{
    float:right;
    padding:0;
    margin:0;
}

.barousel_nav li
{
    float:left;
    padding-left:3px;
    font-size:0;
    line-height:0;
    list-style:none;
}

.barousel_nav li a
{
    display:block;
    width:15px;
    height:15px;
    background-color:#4d4d4d;
    font-size:0;
    line-height:0;
    text-decoration:none;
}

.barousel_nav li a:hover
{
    background-color:#6e6e6e;
}

.barousel_nav li a.current
{
    background-color:#fff55b;
}

.barousel_nav li.prev a
{
    background-image:url(barousel_link_previous.gif);
    background-repeat:no-repeat;
    background-position:0 0;
}

.barousel_nav li.next a
{
    background-image:url(barousel_link_next.gif);
    background-repeat:no-repeat;
    background-position:0 0;
}

.barousel img.ajax_loader
{
    display:none;
    position:absolute;
    z-index:12;
    top:70px;
    left:135px;
}
#imgg{
    width: 100%;
    height: 100%;
}